.pro-div {
    background-color: var(--color050);
    border-radius: 20px 0 0 20px;
    height: 340px;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1%;
}

.parent-div, .eshop-div, .img-preview, .btn-div, .products-div, .hoc-div, .main-hoc-div, .pro-row-data, .link-div, .view-prod-btn-div {
    display: flex;
}

.link-div {
    justify-content: center;
}

.view-prod-btn-div {
    justify-content: space-between;
}

.parent-div, .img-preview, .btn-div, .products-div, .hoc-div, .img-row-data {
    justify-content: space-evenly;
}

.eshop-div, .btn-div, .pro-row-data, .view-prod-btn-div {
    align-items: center;
}

.login-up-div {
    padding: 4.5% 0;
}

.Sign Up-div {
    padding: 1.3% 0;
}

.pro-row-data {
    margin: 1% 0;
}

.eshop-div, .main-hoc-div {
    flex-direction: column;
    border-radius: 20px;
    padding: 1% 2%;
    gap: 5px;
}

.class-products-div, .function-products-div {
    background-color: var(--color10);
}

.payments-div {
    background-color: var(--color04);
}

.counter-apps, .eshop-div, .student-list-div, .multi-img-div, .product-list-div, .alr-reg-div, .main-hoc-div {
    text-align: center;
}

.alr-log-div, .remember-pass-div {
    margin-top: 25px;
}

.product-list-div, .eshop-div, .student-list-div, .file-upload {
    margin-top: 15px;
}

.parent-div, .products-div, .hoc-div {
    flex-wrap: wrap;
}

.link-div {
    gap: 35px;
}

.form-group {
    box-sizing: border-box;
    padding-left: 10px;
    min-width: 50%;
    flex: 1;
}

.pro-label, .content-img  {
    display: block;
}

.product-input, .pro-label {
    margin-bottom: 1%;
}

.pro-input, .product-input, .product-textarea, .content-img, .hoc-img {
    border-radius: 12px;
}

.product-input, .product-textarea {
    border: 1px solid var(--color03);
    outline: none;
    padding: 10px;
}

.product-input, .product-textarea, .btn-div {
    width: 100%;
}

.product-input {
    height: 35px;
}

.btn-div {
    max-width: 200px;
    margin: 1% auto;
}

.content-img, .hoc-img {
    width: 50%;
}

.content-img {
    height: 195px;
    margin: 5px auto;
}

.hoc-img {
    height: 160px;
}

.pro-div::-webkit-scrollbar-thumb, .pro-btn {
    cursor: pointer;
}

.pro-login-state, .pro-state, .hoc-img {
    margin: 0 auto;
}

.pro-login-state {
    max-width: 500px;
}

.pro-state {
    max-width: 992px;
}

.dec-btn {
    color: var(--color038);
}

.inc-btn, .upload-btn {
    color: var(--color019);
}

.reset-btn {
    color: var(--color039);
}

.product-list-div, .student-list-div {
    border-radius: 8px;
    width: 200px;
    padding: 5px;
}

.product-list-div {
    background-color: var(--color12);
    height: 250px;
}

.student-list-div {
    background-color: var(--color13);
    height: 200px;
}

.hoc01-div {
    background-color: var(--color13);
}

.hoc02-div {
    background-color: var(--color10);
}

.pro-head, .pro-para, .sub-head, .product-head, .product-para, .student-para, .hoc-para, .pro-label, .log-link {
    color: var(--color059);
}

.main-div {
    margin-left: 5px;
}

.pro-head {
    margin-bottom: 0.5%;
}

.app-div, .foot-div {
    padding: 0.5% 0;
}

.img-upload, .pro-img {
    border-radius: 50%;  
    height: 100px;
    width: 100px;
}

.product-img {
    height: 125px;
    width: 150px;
}

.pro-img {
    margin: 10px;
}

.multi-img-div {
    padding-top: 1%;
}

.sub-head, .product-head, .product-desc {
    font-size: 20px;
}

.product-desc {
    font-weight: 500;
}

.hoc-para {
    font-size: 20px;
}