.pro-div {
    background-color: #ffffff2f;
    border-radius: 20px 0 0 20px;
    max-height: 360px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1%;
}

.parent-div, .product-div, .img-preview, .btn-div {
    display: flex;
}

.btn-div {
    justify-content: space-evenly;
}

.btn-div {
    align-items: center;
}

.btn-div {
    max-width: 400px;
    margin: 1% auto;
}

.pro-div, .btn-upload-div {
    margin: 1% 0;
}

.pro-btn {
    cursor: pointer;
    font-size: 38px;
}

.dec-btn {
    color: var(--color04);
}

.inc-btn, .upload-btn {
    color: var(--color02);
}

.reset-btn {
    color: var(--color21);
}

.student-list-div {
    background-color: var(--color06);
    border: 1px solid var(--color15);
    border-radius: 8px;
    height: 235px;
    width: 240px;
    margin: 16px;
}

.student-list-div, .pro-head {
    text-align: center;
}

.pro-head, .pro-para {
    color: var(--color059);
}

.main-div {
    margin-left: 5px;
}

.pro-head {
    margin-bottom: 1%;
}

.app-div, .foot-div {
    padding: 1% 0;
}

.pro-input {
    border-radius: 12px;
}

.btn-upload-div {
    max-width: 500px;
    margin: 1% auto;
}

.counter-apps {
    text-align: center;
}

.img-upload, .pro-img {
    border-radius: 50%;  
    height: 150px;
    width: 150px;
}

.pro-img {
    margin: 10px;
}

.multi-img-div {
    text-align: center;
    padding-top: 1%;
}