.pro-div {
    background-color: var(--color050);
    border-radius: 20px 0 0 20px;
    max-height: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1%;
}

.parent-div, .product-div, .img-preview, .btn-div {
    display: flex;
}

.btn-div {
    justify-content: space-evenly;
}

.btn-div {
    align-items: center;
}

.btn-div {
    max-width: 400px;
    margin: 1% auto;
}

.pro-btn {
    cursor: pointer;
    font-size: 38px;
}

.dec-btn {
    color: var(--color038);
}

.inc-btn, .upload-btn {
    color: var(--color019);
}

.reset-btn {
    color: var(--color039);
}

.student-list-div {
    background-color: var(--color08);
    border-radius: 8px;
    height: 225px;
    width: 225px;
    margin: 10px;
    padding: 5px;
}

.student-list-div {
    text-align: center;
}

.pro-head, .pro-para {
    color: var(--color059);
}

.main-div {
    margin-left: 5px;
}

.pro-head {
    margin-bottom: 0.5%;
}

.app-div, .foot-div {
    padding: 1% 0;
}

.pro-input {
    border-radius: 12px;
}

.counter-apps {
    text-align: center;
}

.img-upload, .pro-img {
    border-radius: 50%;  
    height: 135px;
    width: 135px;
}

.pro-img {
    margin: 10px;
}

.multi-img-div {
    text-align: center;
    padding-top: 1%;
}