* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --color00: transparent;
    --color01: rgb(0, 0, 0);
    --color02: rgb(0, 0, 255);
    --color03: rgb(0, 255, 0);
    --color04: rgb(255, 0, 0);
    --color05: rgb(255, 255, 0);
    --color06: rgb(255, 255, 255);
    --color07: rgba(255, 255, 255, 0.2);
    --color08: #0089ff;
    --color09: #f000bf;
    --color10: #575757;
    --color11: #4a1414;
    --color12: #333333;
    --color13: #115f64;
    --color14: #e91e63;
    --color15: #bbbbbb;
    --color16: #232532;
    --color17: #24262b;
    --color19: #e0e0e0;
    --color20: #12aab4;
    --color21: #8b0000;
}

@import url("../src/assets/css/footer.css");
@import url("../src/assets/css/header.css");
@import url("../src/assets/css/media.css");
@import url("../src/assets/css/pro.css");

/* Scrollbar Here */

/* Style the scrollbar container */
.pro-div::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

/* Style the scrollbar track */
.pro-div::-webkit-scrollbar-track {
    background-color: var(--color09); /* Track background color */
    border-radius: 10px; /* Rounded corners */
}

/* Style the scrollbar thumb */
.pro-div::-webkit-scrollbar-thumb {
    background-color: var(--color14);
    border-radius: 10px;
}

/* Style the scrollbar thumb on hover */
.pro-div::-webkit-scrollbar-thumb:hover {
    background-color: var(--color04);
}

/* Scrollbar Here */

.pro-toast {
    min-width: max-content;
}

.parent-div, .product-div, .img-preview {
    justify-content: space-evenly;
}

.product-div {
    flex-wrap: wrap;
}

.app-div {
    max-width: 1440px;
    margin: 0 auto;
}

.pro-div::-webkit-scrollbar-thumb {
    cursor: pointer;
}

.web-div {
    background-image: url("assets/img/background/bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}

.app-div {
    height: 59.7vh;
}

/* .pro-div.img-upload-div */